*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
}
